[submodule "extern/glfw"]
	path = extern/glfw
	url = https://github.com/SimonMaracine/glfw
[submodule "extern/imgui"]
	path = extern/imgui
	url = https://github.com/SimonMaracine/imgui
[submodule "extern/ImGuiFileDialog"]
	path = extern/ImGuiFileDialog
	url = https://github.com/aiekick/ImGuiFileDialog
